.App{
    text-align: left;
}

.App-title{
    font-size: 2em;
    text-align: left;
}

.main-header {
    background-color: rgb(53, 33, 146);
    height: 150px;
    padding: 20px;
    color: white;
}

.main-intro{
    font-size: large;
}