.App{
    text-align: left;
}

.App-title{
    font-size: 2em;
    text-align: left;
}

.main-header {
    background-color: #0face3;
    height: 100px;
    padding: 20px;
    color:black;
}

.main-intro{
    font-size: large;
}

.org-card{
    margin: 2em;
    padding: 0.5em;
    height: 8em;
    background-color: #ffffff;
    overflow-x: hidden;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 5px 5px #808080;
}

.cardbox{
    float: right;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    justify-content: flex-start;
    height: 40em;
    overflow-y: scroll;
    width:50%;
}

.content{
    display: block;
}